
                                    <h4 class="text-center mb-4">Forgot Password</h4>
                                    <form action="{% url 'josh_forgot_pass' %}" method="POST">
                                    {% csrf_token %}
                                        <div class="mb-3">
                                            <label><strong>Email</strong></label>
                                            <input type="email" class="form-control" placeholder="email" name="email">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>