<!DOCTYPE HTML>
{% load static %}
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %}
      
    {% endblock title %}</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-linearicons.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" media="all"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all"/>
</head>
<body>
	{{test_word}}

{% block body %}
    
{% endblock body %}
    
<script type="text/javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
</body>
</html>