<!DOCTYPE HTML>
{% load static %}
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %}
      
    {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mine.css' %}"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-linearicons.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" media="all"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all"/>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/> -->
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	
	<link rel="stylesheet" href="{% static 'css/mine.css' %}" />

</head>
<body>
	{{test_word}}
	<div class="wrap">
		<div class="container">
			<div id="header">
				<div class="header">
					<div class="row">
						<div class="col-md-4 col-sm-5 col-xs-12">
							<div class="logo">
								<a style="text-decoration:none;color:white" href="{% url 'home' %}"><strong><h2>Final Year Project</h2></strong></a>
							</div>
						</div>
						<div class="col-md-8 col-sm-7 col-xs-12">
							<div class="header-info pull-right">
								<div class="header-info-search">

									<form class="header-search" action="{% url 'search' %}">
										<!-- <input type="text" class="" placeholder="Search Here" name='search_word'/> -->
										<div class="input-group">
											<input type="search" class="form-control rounded" placeholder="Search Here" aria-label="Search" aria-describedby="search-addon"  name='search_word' style="width:60%;" />
											<button type="submit" class="btn btn-dark"><span class="lnr lnr-magnifier"></span> Search</button>
										</div>
									</form>
								</div>
								
								<div class="header-info-login">
									<a href="{% url 'account:login' %}" class="header-btn-signin" id="online"><span class="lnr lnr-user"></span> Admin?</a>
									<!-- <a href="{% url 'account:register' %}" class="header-btn-join"><span class="lnr lnr-lock"></span> Join</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<nav class="main-nav">
					<ul class="main-menu ">
						<li><a href="{% url 'home' %}" id="online">Home</a></li>
						<li><a href="{% url 'blog_list' %}">Blog List</a></li>
						{% for cat in category %}
							<li><a href="{% url 'blog_list' %}">{{cat.name}}</a></li>
						{% endfor %}
						<!-- <li><a href="{% url 'test' %}">test</a></li> -->
					</ul>
					<div class="mobile-menu">
						<span class="mobile-menu-text">Menu</span>
						<a href="#" class="btn-mobile-menu"><span class="lnr lnr-menu"></span></a>
					</div>

				</nav>
				<!-- End Main Nav -->
			</div>

{% block body %}
    
{% endblock body %}
    
<script type="text/javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script> -->
</body>
</html>


</body>
</html>