<!DOCTYPE HTML>
{% extends "base.html" %}
{% block title %}
	Lists
{% endblock title %}
{% block body %}
<div class="wrap">
	<div class="container">

		<div id="content">
			<div class="content-page clearfix">
				<div class="main-content">
					<div class="item-post-list">
						<div class="post-thumb">
							<a href="#"><img src="images/list/list1.jpg" alt="" /></a>
						</div>
						<div class="post-list-info">
							<ul class="post-list-info-author list-inline">
								<li>post by: 7uptheme</li>
								<li>FEBRUARY 19, 2016</li>
							</ul>
							<h2 class="title"><a href="#">Praesent justo dolor, lobortis quis, </a></h2>
							<p class="desc">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cumt sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla onsequat mas quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. </p>
							<a href="#" class="btn-read-more">Read More <span class="lnr lnr-chevron-right"></span></a>
						</div>
					</div>
					<!-- End Item -->
					<div class="item-post-list">
						<div class="post-thumb">
							<a href="#"><img src="images/list/list2.jpg" alt="" /></a>
						</div>
						<div class="post-list-info">
							<ul class="post-list-info-author list-inline">
								<li>post by: 7uptheme</li>
								<li>FEBRUARY 19, 2016</li>
							</ul>
							<h2 class="title"><a href="#">quis lobortis dignissim</a></h2>
							<p class="desc">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cumt sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla onsequat mas quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. </p>
							<a href="#" class="btn-read-more">Read More <span class="lnr lnr-chevron-right"></span></a>
						</div>
					</div>
					<!-- End Item -->
					<div class="item-post-list">
						<div class="post-thumb">
							<a href="#"><img src="images/list/list3.jpg" alt="" /></a>
						</div>
						<div class="post-list-info">
							<ul class="post-list-info-author list-inline">
								<li>post by: 7uptheme</li>
								<li>FEBRUARY 19, 2016</li>
							</ul>
							<h2 class="title"><a href="#">Me Marianne Pleasure  </a></h2>
							<p class="desc">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cumt sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla onsequat mas quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. </p>
							<a href="#" class="btn-read-more">Read More <span class="lnr lnr-chevron-right"></span></a>
						</div>
					</div>
					<!-- End Item -->
					<div class="item-post-list">
						<div class="post-thumb">
							<a href="#"><img src="images/list/list4.jpg" alt="" /></a>
						</div>
						<div class="post-list-info">
							<ul class="post-list-info-author list-inline">
								<li>post by: 7uptheme</li>
								<li>FEBRUARY 19, 2016</li>
							</ul>
							<h2 class="title"><a href="#">Praesent justo dolor, lobortis </a></h2>
							<p class="desc">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cumt sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla onsequat mas quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. </p>
							<a href="#" class="btn-read-more">Read More <span class="lnr lnr-chevron-right"></span></a>
						</div>
					</div>
					<!-- End Item -->
					<div class="item-post-list">
						<div class="post-thumb">
							<a href="#"><img src="images/list/list5.jpg" alt="" /></a>
						</div>
						<div class="post-list-info">
							<ul class="post-list-info-author list-inline">
								<li>post by: 7uptheme</li>
								<li>FEBRUARY 19, 2016</li>
							</ul>
							<h2 class="title"><a href="#">Praesent justo dolor, lobortis  </a></h2>
							<p class="desc">Dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cumt sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla onsequat mas quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget. </p>
							<a href="#" class="btn-read-more">Read More <span class="lnr lnr-chevron-right"></span></a>
						</div>
					</div>
					<!-- End Item -->
					<ul class="post-paginav">
						<li><a href="#" class="current-page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#" class="next-page">Next <span class="lnr lnr-chevron-right"></span></a></li>
					</ul>
				</div>
				<div class="sidebar">
					<div class="widget widget-image">
						<a href="#"><img src="images/list/banner.jpg" alt="" /></a>
					</div>
					<div class="widget widget-latest-post">
						<h2 class="title">RELATED CONTENT</h2>
						<div class="content-widget-latest-post">
							<div class="post-item">
								<div class="post-thumb">
									<a href="#"><img src="images/list/relate1.jpg" alt="" /></a>
								</div>
								<div class="post-info">
									<div class="post-format">
										<a href="#"><span class="lnr lnr-file-empty"></span>  ARTICLE</a>
									</div>
									<h3 class="post-title">
										<a href="#">mollis inter appling codon paling Faucibus in hoeng</a>
									</h3>
									<div class="number-post-comment">
										<span class="lnr lnr-bubble"></span> <strong>3</strong>
									</div>
								</div>
							</div>
							<div class="post-item">
								<div class="post-thumb">
									<a href="#"><img src="images/list/relate2.jpg" alt="" /></a>
								</div>
								<div class="post-info">
									<div class="post-format">
										<a href="#"><span class="lnr lnr-file-empty"></span> ARTICLE</a>
									</div>
									<h3 class="post-title">
										<a href="#">mollis inter appling codon paling Faucibus in hoeng</a>
									</h3>
									<div class="number-post-comment">
										<span class="lnr lnr-bubble"></span> <strong>3</strong>
									</div>
								</div>
							</div>
							<div class="post-item">
								<div class="post-thumb">
									<a href="#"><img src="images/list/relate1.jpg" alt="" /></a>
								</div>
								<div class="post-info">
									<div class="post-format">
										<a href="#"><span class="lnr lnr-file-empty"></span>  ARTICLE</a>
									</div>
									<h3 class="post-title">
										<a href="#">mollis inter appling codon paling Faucibus in hoeng</a>
									</h3>
									<div class="number-post-comment">
										<span class="lnr lnr-bubble"></span> <strong>3</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<!-- End Content -->
		<div id="footer">
			<div class="footer-default">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="logo-footer"><a href="#">new<span>day</span>.com</a></div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="social-footer text-right">
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="footer">	
					<ul class="menu-footer">
						<li><a href="#">About us </a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Work for us</a></li>
						<li><a href="#">Help </a></li>
						<li><a href="#">Transcripts</a></li>
						<li><a href="#">License Footage</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy </a></li>
						<li><a href="#">AdChoices</a></li>
					</ul>
					<p class="copyright">Copyright © 2016 Wordpress. All Rights Reserved. Designed by <a href="#"><span>7uptheme</span>.com</a>.</p>
				</div>
			</div>
		</div>
		<!-- End Footer -->
	</div>
</div>
{% endblock body %}